 /* Remove the navbar's default margin-bottom and rounded borders */ 
body{
	background: black;
	margin:0px;
}
a:visited{
	color:orange;
}
h1, h2{
	color: white;
}
h1{
	font-size: 40px;
}
h2{
 	font-size: 30px;
}
h3{
	font-size: 28px;
	text-align: center;
}
h5{
	text-align: center;
}

	.hamburger {
	  display:none;
	  position: relative;
	  color: white;
	  font-size: 20px;
	  float:right;
	}
	.hamburger-content {
	  display: none;
	  position: absolute;
	  right:0;
	  z-index:1;
	  background:black;
	  padding:1em;
	}
	.hamburger:hover .hamburger-content {
	  display: block;
	}
	.hamburger span {
	  transition: transform .5s;
	-webkit-transition: -webkit-transform .5s;
	  display: block;
	  transform: rotate(90deg);
	}
	.hamburger:hover span {
	  transition: transform .5s;
	-webkit-transition: -webkit-transform .5s;
	  display: inline-block;
	  transform: rotate(180deg);
	}

.container{
	margin-left:1em;
	margin-right:1em;
	padding:1em;
	background: white;
}
.navbar {  
    margin: 1em;
	font-size: 20px;
}
.navbar a{
	color: white;
	text-decoration: none;
}
.menu{
	float:right;
}
.menu a{
	margin-left: 1em;
}
.menu:last-child {
  margin-right: 20em;
}
.presentacion{
	background-image: url("https://picsum.photos/1200/900");
	height: 100vh;
	text-align: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size:cover;
	/*flexbox*/
	display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion button{
	background-color: #191919;
    border: 1px solid #E8E8E8;
    color: white;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.grid3{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr; /* // tmb vale -> 1fr 1fr 50% !cualquier conbinación! */
	grid-gap:1em;
	margin: 0 0 20px 0;
}
.grid3 img{
  	width: 100%;
 }
.unaImagen img{
	width: 100%;
    height: 90vh;
}
.grid2{
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:1em;
	margin:0 15% 0 15%;
}
.grid2 img{
	width:100%;
}
#beer p{
	text-align: justify;
}
#beer h4{
	text-align: center;
}
footer{
	background-color: black;
	text-align: center;
	color:white;
}

/*responsive menu*/
/*para ventanas Menores a 500px*/
/*mobile version*/
@media screen and (max-width: 500px) {
	.menu{
		display:none;
	}
	.hamburger{
		display: inline-block;
	}
	.grid3{
		grid-template-columns: 1fr;		
	}
	.grid2{
		grid-template-columns: 1fr;	
		margin:0px;
	}
	.unaImagen img{
		width: 100%;
		height: 200px;
	}
}
/* tablet version */
@media screen and (max-width: 800px){
	.grid2{
		grid-template-columns: 1fr;
	}
}



/*para ventanas Mayores a 500px*/
@media screen and (min-width: 500px) {

}
/* @media print para ser imprimido, puede eliminar cosas no útiles para ser impresas (banners, fotos, etc)*/
